<div class="container">

  <h1 class="mt-3">Books</h1>

  <div class="justify-content-end mt-3">
    <div>
      <a id="addBtn" href="/books/add" class="btn btn-primary" >Add Book</a>
    </div><br>

    <table class="table" *ngIf="books && books.length >0">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">AuthorId</th>
            <th scope="col">GenreId</th>
            <th scope="col">PageCount</th>
            <th scope="col">PublishDate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>{{ book.Id }}</td>
            <td>{{ book.Title }}</td>
            <td>{{ book.AuthorId }}</td>
            <td>{{ book.GenreId }}</td>
            <td>{{ book.PageCount }}</td>
            <td>{{ book.PublishDate }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!books || books.length <= 0">No Books Found</p>

  </div>

</div>