<div class="container">

    <h1 class="mt-3">Authors</h1>
  
    <div class="justify-content-end mt-3">
      <div>
        <a id="addBtn" href="/authors/add" class="btn btn-primary" >Add Author</a>
      </div>
  
      <table class="table" *ngIf="authors && authors.length >0">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Birthdate</th>
              <th scope="col">Detail</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let author of authors">
              <td>{{ author.id }}</td>
              <td>{{ author.name }}</td>
              <td>{{ author.surname }}</td>
              <td>{{ author.birthdate }}</td>
              <td><a class="btn btn-primary" [routerLink]="['/authors/detail', author.id]">Detail</a></td>
              <td><a class="btn btn-primary" [routerLink]="['/authors/update', author.id]">Update</a></td>
              <td><a class="btn btn-danger" (click)="DeleteAuthor(author.id)">Delete</a></td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="!authors || authors.length <= 0">No Author Found</p>
  
  
    </div>
  
  
  </div>